#container {
  padding:70px;
  position:relative;
  align-content: center;
  text-align: center;
}

.button {
  background-color: #282c2e;
  border-radius: 10px;
  padding: 1.2rem;
  padding-right: 2px;
  margin: 5px;
  font-size: 1.2rem;
  display:flexbox;
  color: rgba(203, 40, 218, 0.822);
  text-align:center;
  width: 35%;
  //min-width: 4px;
   box-sizing:border-box;
 
  /* flexbox */
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.table {
  border: 3px double black;
  border-spacing: 5px;
  border-radius: 10px;
  border-collapse: separate;
  text-align: center;
  table-layout: fixed;
  width: 100%;
}